html, body{ height: 100%; width: 100%; margin: 0;}
body{
    background-color: aquamarine;
}

#cos{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#navegacio{
    width: 100%;
}
#navegacio{
    background-color: black;
    height: 70px;
}
#logo{
    background-color:crimson;
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 8%;
}
#menu{   
    background-color: chartreuse;
    height: 100%;
    width: 60%;
    float:left;
    margin-left: 8%;
}
#cosarticle{
    background-color: darkblue;
    padding-bottom: 0.5%;
}
#bannerslider{
    height: 600px;
    width: 100%;
    background-color: blueviolet;
}
#bannerslider img{
    width: 100%;
    height: 100%;
}
#desc{
    margin-top: -0.4%;
    color:white;
    padding-top:1%;
    background-color: cornflowerblue;
    padding-bottom: 0.5%;
    text-align: center;
}
#descserveis{
    height: 15%;
    background-color: crimson;
    width: 100%;
    padding-bottom: 650px;
}
.descservei{
    width: 30%;
    height: 550px;
    background-color: darkgrey;
    float: left;
    margin-left: 13.333%;
    overflow: hidden;
}
.imgrodona{
    width: 125px;
    height: 125px;
    background-color: aqua;
    border-radius: 50%;
    margin: 10%;
    margin-left: 34.5%;
}
.serveidesc{
    width: 60%;
    height:60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#contacte{
    height: 300px;
    background-color:darkslateblue;
    width: 100%;
}
#footer{
    background-color: darkcyan;
    height: 20%; 
}
#xarsocialsfoot{
    width: 25%;
    height: 100%;
    
}
#contactefoot{
    
}
#dretsfoot{
    
}
